@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-family: 'Poppins', sans-serif;
  //font-size: 62.5%;
  color: #333;
}

a {
  text-decoration: none;
}

.header {
  background-color: #ee002d;
  height: 100px;
  display: flex;
  align-items: center;

  &-login {
    color: #fff !important;
    //padding: 0 15px;
    font-weight: 700 !important;
    line-height: 36px;

  }

  &-register {
    color: #fff !important;
    padding: 0 15px;
    font-weight: 700 !important;
    line-height: 36px;

  }
}

#formSearch {
  & input[type="search"] {
    border: 2px solid #fff;
    border-radius: 5px;
    outline: none;
    padding: 5px 10px;
    background-color: transparent;
    color: #fff !important;
    //width: 350px;
    &::placeholder {
      color: #fff !important;
      opacity: 1;
    }

    &::-webkit-search-cancel-button {
      -webkit-appearance: none;
      display: inline-block;
      cursor: pointer;
      width: 12px;
      height: 12px;
      border: 7px solid inherit;
      background: linear-gradient(45deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 43%, #fff 45%, #fff 55%, rgba(0, 0, 0, 0) 57%, rgba(0, 0, 0, 0) 100%),
      linear-gradient(135deg, transparent 0%, transparent 43%, #fff 45%, #fff 55%, transparent 57%, transparent 100%);
    }

  }

}

.btn-search {
  border-radius: 3px;
  border: none;
  background-color: #fff;
  padding: 6px 10px;

  //transform: translateX(-10px);
}

.nav-item {
  padding-right: 25px;
}

.article {
  &-thumbnail {
    width: 100%;
  }

  &-type {
    font-weight: 700;
    text-transform: uppercase;
    color: #ee002d;
    padding-top: 10px;
  }

  &-title {
    color: #152535;
    font-size: 24px;
    font-weight: 700;
    text-align: justify;

    &:hover {
      color: #ee002d;
      transition: 0.3s ease
    }
  }

  &-author {
    & span {
      color: #ee002d;
    }
  }

  &-description {
    text-align: justify;
    display: block;
    display: -webkit-box;
    -webkit-line-clamp: 5;
    -webkit-box-orient: vertical;
    overflow: hidden;
    font-weight: 700;
    color: #828492
  }
}

.business {
  &-type {
    font-weight: 700;
    text-transform: uppercase;
    color: #ee002d;
    padding-top: 10px;
  }

  &-thumbnail {
    width: 100%;
    height: 200px;
  }

  &-description {
    text-align: justify;
    display: block;
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
    overflow: hidden;
    font-weight: 700;
    color: #828492;
  }
}

.popular {
  border-bottom: 1px solid #d2d2d9;
  padding: 10px 0;

  &:first-child {
    padding-top: 0;
  }

  &-thumbnail {
    width: 120px;
    height: 120px;
    margin-right: 10px;
    object-fit: cover;

  }

  &-type {
    font-weight: 700;
    text-transform: uppercase;
    color: #ee002d;

  }

  &-title {
    color: #152535;

    font-weight: 700;
    text-align: justify;

    &:hover {
      color: #ee002d;
      transition: 0.3s ease
    }
  }

  &-time {
    color: #828492
  }
}

.footer {
  background-color: #02031c !important;
  padding: 50px 0;

  & a {
    color: #81787f !important;
    transition: all 0.3s ease;
    font-weight: 700 !important;

    &:hover {
      color: #fff !important;
    }
  }

  &-title {
    color: #fff !important;
    text-transform: uppercase;
    font-weight: 700 !important;
  }

  &-item {
    padding: 10px 0;
  }
}

.search {

  &-thumbnail {
    width: 100%;
    height: 300px;
  }

  &-type {
    font-weight: 700;
    text-transform: uppercase;
    color: #ee002d;
    padding-top: 10px;
  }

  &-title {
    color: #152535;
    font-size: 24px;
    font-weight: 700;
    text-align: justify;

    &:hover {
      color: #ee002d;
      transition: 0.3s ease
    }
  }

  &-author {
    & span {
      color: #ee002d;
    }
  }

  &-description {
    text-align: justify;
    display: block;
    display: -webkit-box;
    -webkit-line-clamp: 5;
    -webkit-box-orient: vertical;
    overflow: hidden;
    font-weight: 700;
    color: #828492
  }
}
.search-heading{
  padding: 10px 0;
}